 <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Vidjot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/about">About</a>
          {{#if user}}
          <a href="/ideas" class="nav-item nav-link">My Ideas</a>
          <a href="/ideas/add" class="nav-item nav-link">Add Idea</a>
          <a href="/ideas/all" class="nav-item nav-link">Idea Community</a>
          <a href="/users/logout" class="nav-item nav-link">Logout</a>
          {{else}}
            <a href="/users/login" class="nav-item nav-link">Login</a>
            <a href="/users/register" class="nav-item nav-link">Register</a>
          {{/if}}
        </div>
      </div>
    </nav>